@charset "UTF-8";

/*=====================
セレクトプルダウン
=====================*/

.yearSelect {
  overflow: hidden;
  width: 90%;
  margin: 2em auto;
  text-align: center;
  position: relative;
  border-radius: 2px;
  border: 3px solid rgb(70, 199, 145);
  border-radius: 50px;
  background: #e0f9fd;
}

.yearSelect select {
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 8px 38px 8px 10px;
  color: black;
}

.yearSelect::before {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgb(70, 199, 145);
  pointer-events: none;
}

/*=====================
テーブル
=====================*/

@media screen and (max-width:500px) {
  table {
    font-size: 13px;
  }
}

@media screen and (min-width:600px) {
  table {
    font-size: 17px;
  }
}

.th {
  background-color: rgba(126, 179, 140, 0.6);
}

.day {
  background-color: rgba(126, 179, 140, 0.2);
}

.all {
  background-color: rgba(255, 207, 205, 0.6);
  ;
}

.fukuoka {
  background-color: rgba(160, 245, 126, 0.6);
}